<h2>Template: Básicos</h2>
<div class="row">
    <div class="col">
        <form (ngSubmit)="save()" 
                #myForm="ngForm"
                autocomplete="off">
            <!-- Campo de producto -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Productos</label>
                <div class="col-sm-9">
                    <input type="text"
                            class="form-control"
                            [(ngModel)]="initForm.producto"
                            name="producto"
                            placeholder="Nombre del producto"
                            required
                            minlength="3">
                    <span *ngIf="validName()" class="form-text text-danger">Debe ser de 3 letras</span>
                </div>    
            </div>

            <!-- Precio de producto -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Precio</label>
                <div class="col-sm-9">
                    <input type="number"
                            [(ngModel)]="initForm.precio"
                            name="precio"
                            class="form-control"
                            placeholder="Precio del producto"
                            required>
                    <span *ngIf="validPrice()" class="form-text text-danger">El precio debe ser 0 o mayor</span>
                </div>    
            </div>

            <!-- Campo de existencias -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Existencias</label>
                <div class="col-sm-9">
                    <input type="number"
                            [(ngModel)]="initForm.existencias"
                            name="existencias"
                            class="form-control"
                            customMin
                            [minimum] = "0"
                            placeholder="Existencias del producto"
                            required>
                </div>    
            </div>

            <div class="row">
                <div class="col">
                    <button type="submit"
                            [disabled]="myForm.invalid"
                            class="btn btn-primary float-end">
                        Guardar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col">
        <span>Valid
            <pre>{{ myForm.valid }}</pre>
        </span>

        <span>Pristine
            <pre>{{ myForm.pristine }}</pre>
        </span>

        <span>Touched
            <pre>{{ myForm.touched }}</pre>
        </span>

        <span>Value</span>
        <pre>{{myForm.value | json }}</pre>
        

        <span>Custom Directive</span>
        <pre>{{myForm.controls.existencias.errors | json }}</pre>
        
    </div>
</div>