<h2>Reactive: Básicos</h2>
<div class="row">
    <div class="col">
        <form [formGroup]="myForm" 
                autocomplete="off"
                (ngSubmit)="guardar()"
                >
            <!-- Campo de producto -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Productos</label>
                <div class="col-sm-9">
                    <input type="text"
                            class="form-control"
                            formControlName="nombre"
                            placeholder="Nombre del producto"
                            >
                    <span *ngIf="campoNoEsValido('nombre')" class="form-text text-danger">Debe ser de 3 letras</span>
                </div>    
            </div>

            <!-- Precio de producto -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Precio</label>
                <div class="col-sm-9">
                    <input type="number"
                            class="form-control"
                            formControlName="precio"
                            placeholder="Precio del producto"
                            >
                    <span *ngIf="campoNoEsValido('precio')" class="form-text text-danger">El precio debe ser 0 o mayor</span>
                </div>    
            </div>

            <!-- Campo de existencias -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Existencias</label>
                <div class="col-sm-9">
                    <input type="number"
                            class="form-control"
                            formControlName="existencias"
                            placeholder="Existencias del producto"
                            >
                    <span *ngIf="campoNoEsValido('existencias')" class="form-text text-danger">Las exitencias deben ser 0 o mayor</span>
                </div>    
            </div>

            <div class="row">
                <div class="col">
                    <button type="submit"
                            class="btn btn-primary float-end"
                            >
                        Guardar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col">
        <span>Valid
            <pre>{{ myForm.valid }}</pre>
        </span>

        <span>Pristine
            <pre>{{ myForm.pristine }}</pre>
        </span>

        <span>Touched
            <pre>{{ myForm.touched }}</pre>
        </span>

        <span>Value</span>
        <pre>{{myForm.value | json }}</pre>

        <span>Precio</span>
        <pre>{{myForm.controls.precio.errors | json }}</pre>
        
    </div>
</div>